body{
	color: #FF0000;
	background-color: #0000FF;
	margin: 20px;
	margin-bottom: 7px;
}
h1 {
    color: #660066;
    background-color: #0000FF;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #c00;
}